<% @business_travel = BizTravels::BusinessTravel.find(@workitem.fields['object_id']) %>
<%= form_for @business_travel, :url => "/biz_travels/business_travels/#{@business_travel.id}/approve_travel", :html => {:class => 'form-horizontal' } do |f| %>    
 	<fieldset>
 		<%= render :partial => 'fields', :locals => { :f => f} %>
		<div <form action="form-actions">
			<%= f.hidden_field 'fei_id', :value => @workitem.fei.to_storage_id %>
			<%= link_to 'Cancel', business_travels_path, :class => 'btn' %> 
			<%= f.submit 'Approve Travel', :class =>'btn btn-primary', :name => 'Approve_Travel' %> 
			<%= f.submit 'Reject Travel', :class =>'btn btn-danger', :name => 'Reject_Travel' %> 
			<%= f.submit 'More Info Needed', :class =>'btn', :name => 'More_Info_Needed' %> 
		</div>
 	</fieldset>
<% end %>  
